@include component(badge) {
    display: inline-block;
    @include rem-spacing (padding, 4, 8);
    @include fontSize($font-size-small);
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;

    @include option(success) {
    	background-color: $theme-success;
    	color: $theme-white;
    }

    @include option(warning) {
    	background-color: $theme-warning;
    	color: $theme-white;
    }

    @include option(danger) {
    	background-color: $theme-danger;
    	color: $theme-white;
    }

    @include option(info) {
    	background-color: $theme-info;
    	color: $theme-white;
    }
}