@include component(hero-banner) {
	min-height: 100vh;
	background-size: cover;
	background-position: top center;
	position: relative;
	max-height: 600px;

	@include option(inner-banner) {
		min-height: 500px;
	}

	@include component(inner-wrapper) {
		position: absolute;
		left: 10%;
		right: 10%;
		bottom: 12%;
	}

	@include component(subtitle) {
		color: $theme-white;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 8px;
		text-shadow: 0 9px 18px $theme-black, 0 9px 36px $theme-black, 0 9px 72px $theme-black, 0 9px 144px $theme-black;
		@include rem-spacing (margin-bottom, 20);
		font-size: 2vw;

		@media (max-width: 575px) {
			@include fontSize($font-size-h4);
		}
	}

	@include component(title) {
		color: $theme-yellow;
		font-size: 4.4vw;
		text-align: center;
		letter-spacing: 4px;
		text-shadow: 0 9px 18px $theme-black, 0 9px 36px $theme-black, 0 9px 72px $theme-black, 0 9px 144px $theme-black;
		line-height: 1.2;
		font-family: $main-font-heavy;
		text-transform: uppercase;

		@media (max-width: 575px) {
			@include fontSize($font-size-h4 + 10px);
		}
	}
}