@include component(box) {

	@include option(shadow-box) {
		@include box-shadow(0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2));
	    border-radius: 4px;
	    background-color: $theme-white;

	    @include option(bg-yellow) {
	    	background-color: $theme-yellow;
	    }
	}

	@include option(padding-box) {
		@include rem-spacing (padding, 40);
	}
	
	@include option(schedule-box) {
		position: relative;
		//@include rem-spacing (margin-top, 30);

		@media (max-width: 991px) {
			@include rem-spacing (margin-bottom, 60);
			max-width: 400px;
		}

		@include component(content) {
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 100%;
			@include transform(translateY(90px));
			@include transition(0.8s);
			@include rem-spacing (padding, 0, 30);
			z-index: 2;

			@media (max-width: 1300px) {
				@include rem-spacing (padding, 0, 20);
			}

			@media (max-width: 1200px) {
				@include rem-spacing (padding, 0, 10);
				@include transform(translateY(70px));
			}

			@include component(term) {
				color: $theme-black;
				background-color: $theme-yellow;
				@include rem-spacing (padding, 6, 10);
				display: inline-block;
				@include fontSize($font-size-medium);
				letter-spacing: 1px;
				@include rem-spacing (margin-bottom, 10);
			}

			@include component(date, detail) {
				color: $theme-white;
				letter-spacing: 2px;
				@include fontSize($font-size-medium);

				@media (max-width: 1200px) {
					@include fontSize($base-font-size);
				}
			}

			@include component(date) {
				font-family: $main-font-heavy;
				@include fontSize($font-size-h3);

				@media (max-width: 1200px) {
					@include fontSize($font-size-h3 - 4px);
				}
			}

			@include component(detail) {
				@include opacity(0);
				overflow: hidden;
				@include transition(1s);
				color: $theme-yellow;
			}
		}

		@include component(weeks) {
			position: absolute;
			background-color: $theme-black;
			right: 0;
			top: 30px;
			color: $theme-white;
			@include fontSize($font-size-h6);
			@include rem-spacing (padding, 10, 14);
			letter-spacing: 1px;
		}

		&:after{
		    @include gradient-vertical($theme-black, transparent);
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			@include size(100%, 100%);
		}

		&:hover{

			@include component(content) {
				@include transform(translateY(-20px));
			}

			@include component(detail) {
				@include opacity(1);
				@include transition-delay(.4s);
				color: $theme-white;
			}
		}
	}

	@include option(hover-img) {
		figure{
			overflow: hidden;
			position: relative;

			img{
			    @include transform(scale(1, 1));
			    @include transition-delay(0.8s);
			    @include transition(all 2s);
		    }

		    &:after{
		    	content: '';
			    display: block;
			    position: absolute;
			    left: 0;
			    top: 0;
			    @include size(100%, 100%);
			    z-index: 1;
			    @include transform(translate(100%, 0));
			    @include transition(all 0.4s);
			    @include transition-delay(0.3s);
		        background: rgba($theme-white, 0.4);
		        z-index: 2;
		    }

		    &:before{
		    	content: '';
		    	background-color: rgba(black, 0.3);
		    	top: 0;
		    	left: 0;
		    	@include size(100%, 100%);
		    	position: absolute;
		    	z-index: 1;
		    	@include transform(translate(100%, 0));
			    @include transition(all 0.4s);
			    @include transition-delay(0.1s);
		    }

		    &:hover{
		    	@include transform(scale(1, 1));

			    img{
		    	    @include transform(scale(1.2, 1.2));
			    }

			    &:after{
			    	@include transform(translate(-100%, 0));
			    	@include transition-delay(0.2s);
			    }

			    &:before{
			    	@include transform(translate(0%, 0));
			    	@include transition-delay(0.5s);
			    }
			}
			 
		}
	}

	@include option(gallery-box) {
		figure{
			overflow: hidden;
			position: relative;

		    @include component(xxicon) {
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    	right: 0;
		    	bottom: 0;
		    	margin: auto;
		    	display: block;
		    	text-align: center;
		    	@include size(30px, 30px);
		    	@include fontSize($font-size-h3 + 4px);
		    	@include transform(scale(0));
		    	@include transition(0.4s);
		    	z-index: 9;
		    }

		    &:hover{
		    	@include transform(scale(1, 1));

			    @include component(xxicon) {
			    	@include transform(scale(1));
			    	@include transition-delay(0.6s);
			    }
			}
			 
		}
	}

	@include option(coach-box) {
		@include rem-spacing(margin-bottom, 30);

		figure{
			background-color: $theme-white;
			// background-position: top center;
			// height: 250px;
			// overflow: hidden;
		}

		@include component(content) {
			background: $theme-secondary;
			@include rem-spacing(padding, 20);
			min-height: 340px;
			
			@include component(coach-name) {
				color: $theme-white;
			}

			@include component(coach-title) {
				color: $theme-primary;
			}

			@include component(desc) {
				color: $theme-grey;
			}
		}

		@include component(link-btn) {
			background-color: $theme-primary;
			@include rem-spacing(padding, 10, 0);
			display: block;
			text-align: center;

			a{
				color: $theme-white;
				@include fontSize($font-size-medium);
			}
		}
	}
}