@include component(primary-header) {
	position: relative;
	// width: 100%;
	// z-index: 9;

	@include part(topbar) {
		background: $theme-black;
		@include rem-spacing(padding, 0);

		@include component(toplinks) {
			font-size: $font-size-small;

			li{
				display: inline-block;

				@media (max-width: 575px) {
					display: block;
				}

				a{
					color: $theme-white;
					display: block;
					@include rem-spacing(padding, 10);
					font-weight: $font-weight-bold;
					text-transform: uppercase;
					letter-spacing: 0.4px;

					@media (max-width: 575px) {
						@include rem-spacing(padding, 6, 0);
					}
				}

				&:last-child{

					a{
						@include rem-spacing(padding, 10, 20);
						background-color: $theme-primary;
					}

					@media (max-width: 991px) {
						display: none;
					}
				}
			}
			
		}

		@include component(social-links) {
			line-height: 0;
			@include rem-spacing(padding, 12, 0);

			li{
				@include rem-spacing(margin-right, 16);

				a{
					color: $theme-white;
					display: block;
				}

				&:last-child{
					@include rem-spacing(margin-right, 0);
				}
			}

			@media (max-width: 575px) {
				text-align: center
			}
		}
	}

	@include part(logobar) {
		@include rem-spacing(padding, 6, 0);
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		top: 37px;
		width: 100%;
		z-index: 9;

		@media (max-width: 767px) {
			top: 75px;
		}

		@media (max-width: 575px) {
			top: 96px;
		}

		@media (max-width: 991px){
			@include rem-spacing(padding, 10, 0);
		}

		@include component(header-logo) {
			display: block;
			max-width: 240px;
			@include transition(0.4s);

			@media (max-width: 991px){
				max-width: 200px;
			}
		}

		&.active{
			position: fixed;
			@include transition(0.4s);
			top: 0px;
			background-color: rgba(0, 0, 0, 1);

			@include component(header-logo) {
				max-width: 180px;
			}
		}
	}

	@include part(navigationbar) {
		background-color: $theme-dk-grey;
	}

	@include part(player-image) {
		text-align: right;
	}

	@include part(tag-line) {
		line-height: 1.2;
		color: $theme-primary;

		@media (max-width: 575px){
			@include fontSize($font-size-medium);
		}
	}

	@media (max-width: 767px) {
		position: relative;
		background-color: $theme-grey;
	}
}