@include component(check-list) {
	margin-bottom: 30px;
	
	li{
		position: relative;
		@include rem-spacing (padding-left, 24);
		@include rem-spacing (margin-bottom, 8);
		@include fontSize($font-size-medium);

		@media (max-width: 991px) {
			@include fontSize($base-font-size);
		}

		&:before{
			content: '\2714';
			position: absolute;
			left: 0;
			top: 0;
			color: $theme-primary;
			font-weight: $font-weight-bold;
			@include fontSize($font-size-medium);
		}
	}
}

@include component(two-column-list) {
	columns: 2;

	@media (max-width: 767px) {
		columns: 1;
	}
}