@include component(primary-navigation) {
	text-align: right;

	> ul {

		> li{
			position: relative;
			display: inline-block;

			@media (max-width: 575px) {
				display: block;
			}

			@include component(dropdown) {
				position: absolute;
				top: 42px;
				left: 0px;
				background-color: $theme-dk-grey;
				min-width: 240px;
				z-index: 4;
				text-align: left;
				display: none;

				&.nav-active{
					display: block;
				}

				li{
					display: block;
				}

				a{
					color: $theme-white;
					display: block;
					@include rem-spacing(padding, 10, 8);
					font-family: $base-font-family;
					text-transform: uppercase;
					letter-spacing: 0.8px;
					position: relative;
				
					&:hover{
						background-color: $theme-primary;
						color: $theme-white;
					}
				}

				@media (max-width: 991px) {
					position: relative;
					top: 0;
					width: 100%;
					text-align: center;
				}
			}

			> a{
				color: $theme-white;
				display: block;
				@include rem-spacing(padding, 10, 8);
				font-family: $base-font-family;
				text-transform: uppercase;
				letter-spacing: 0.8px;
				position: relative;

				&:after{
					position: absolute;
					left: 0;
					bottom: 0;
					@include size(0%, 2px);
					background-color: $theme-red;
					content: '';
					@include transition(width 0.4s);
				}

				@media (max-width: 1400px){
					@include rem-spacing(padding, 10, 6);
				}
			}

			@media (min-width: 992px) {
				&:hover{

					@include component(dropdown) {
						display: block;
					}

					> a{
						color: $theme-primary;

						&:after{
							width: 100%;
						}
					}
				}
			}
		}
	}

	@media (max-width: 991px) {
	    margin: 0;
	    position: fixed;
	    top: 0;
	    left: 0;
	    @include size(100%, 0);
	    text-align: center;
	    background: rgba(112, 123, 140, .8);
	    @include transition(.3s ease);
	    overflow: hidden;
	    
	    > ul{
	    	@include transform(translateY(-50%));
		    position: absolute;
		    top: 50%;
		    left: 0;
		    right: 0;
	    }

	    li{
	    	display: block;
	    }

	    &.nav-active{
	    	display: block;
	    	height: 100%;
	    }
	}
}

@include component(sidebar-navigation) {
	@include box-shadow(0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2));
    border-radius: 4px;
    background-color: $theme-white;
    @include rem-spacing (padding, 20);
	
	li{
		a{
			display: block;
			@include fontSize($font-size-medium);
			@include rem-spacing (padding, 8);
			border-radius: 4px;
			@include rem-spacing (margin-bottom, 6);

			&.active, &:hover {
				background-color: $theme-red;
				color: $theme-white;
			}

			@include component(xxicon) {
				width: 24px;
				display: inline-block;
			}
		}
	}
}